@charset "UTF-8";
@font-face{
	font-family: "넥슨고딕";
	src: url("/font/nexon/nexon_gothicotflight.woff");
}
@font-face{
	font-family: "넥슨고딕";
	src: url("/font/nexon/nexon_gothicotfbold.woff");
	font-weight: bold;
}
/*------------------------------질문답변-----------------------------*/
.ask{
	background-color: #fff;
	width: 88%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 1000px;
	padding-bottom: 100px;
}
.askBorder{
	display: flex;
	width: 100%;
	border-top: 2px solid#000000;
}
.askBorderLeft{
	width: 35%;
	border-right: 1px solid#000000;
}
.borderTop{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	font-family: "넥슨고딕";
	padding: 1.2em;
}
.askBorderRight{
	width: 65%;
	border-top: 15px solid transparent;
}
.leftItem{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}
.askInputBorder{
	width: 95%;
	margin: 0 auto;
}
.inputItem{
	display: flex;
	margin: 1.6em;
}
.inputText{
	width: 80px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
.inputValue{
	align-self: center;
	padding-left: 1.6em;
}
.inputValue > input {
	width: 360px;
	font-size: 18px;
	padding: 0.6em;
}
.inputValueEmail{
	display: flex;
	margin-left: 1.6em;
}
.emailSelect{
	align-self: center;
	font-size: 20px;
	margin-left: 0.6em;
}
.emailSelect > select {
	font-size: 18px;
	padding: 0.6em;
}
.inputValueEmail input{
	width: 170px;
	font-size: 18px;
	padding: 0.6em;
}
.inputValue > select {
	width: 360px;
	font-size: 18px;
	padding: 0.6em;
	text-decoration: underline;
	text-underline-position: under; /* 언더라인을 포지션을 좀더 언더로 잡아서 밑줄을 조금더내림  */
}

option{
	letter-spacing: 3px;
}
.inputTextarea{
	margin: 0.6em;
}
.inputTextarea textarea{
	width: 100%;
	min-height: 500px;
	font-size: 22px;
	font-family: "넥슨고딕";
	padding: 0.4em;
	/* border: 3px solid#d8eef8;  js 로 할예정*/
	border: 3px solid #000000;
	border-radius: 15px;
}
textarea:focus {
	outline: none;
}
input:focus{
	outline: none;
}
.submitButton{
	margin-top: 0.6em;
}
.submitButton input{
	width: 100%;
	font-size: 22px;
	padding: 0.6em;
	font-weight: bold;
	font-family: "넥슨고딕";
	color: #fff;
	background-color: #9cbdfa;
	border: 0px solid#000000;
	border-radius: 15px;
	cursor: pointer;
}
.terms{
	overflow: scroll;
	height: 130px;
	border: 2px solid#000000;
	padding: 0.6em;
	margin-top: 0.7em;
	
}





















