@charset "UTF-8";

@font-face{
	font-family: "넥슨고딕";
	src: url("/font/nexon/nexon_gothicotflight.woff");
}
@font-face{
	font-family: "넥슨고딕";
	src: url("/font/nexon/nexon_gothicotfbold.woff");
	font-weight: bold;
}
/*----------------샵메인-----------------------------*/
.slide{
	background-image:url(/img/woo.jpg);
	width:1200px;
	height:500px;
}
.categories{
	width:1200px;
	height:300px;
	padding-top: 50px;
}
.category{
	width:180px;
	height:180px;
	float:left;
	margin-left:100px;
	
}
.category img{
	width:180px;
	height:180px;
	border-radius: 50%;
}

.title{
	text-align: center;
	position:relative;
	bottom:0px;
}
.title a{
	text-decoration: none;
}
/*----------------샵중분류 페이지-----------------------------*/
.midcatContainer{
	background-color: #fff;
}
.midcatBorder{
	width: 95%;
	margin: 0 auto;
	background-color: #d8edf8;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-family: "넥슨고딕";
	font-weight: bold;
	margin-bottom: 100px;
}
.midcatBorder_Top{
	display: flex;
	justify-content: space-around;
	padding: 13px;
	cursor: pointer;
}
.midcatBorder_Top > div:hover {
	color: #fff;
}
.midcatBorder_Content{
	display: flex;
}
.midcatBorder_Left{
	display: flex;
	background-color: red;
	flex-direction: column;
	text-align: center;
	padding: 13px;
	width: 10%;
}
.midcatBorder_Left div{
	margin: 5px;
}
.midcatBorder_Right{
	display: flex;
	background-color: #ffd0d1;
	width: 90%;
	min-height: 500px;
}


















