@charset "UTF-8";

.categories{
	width:1200px;
	height:300px;
	padding-top: 50px;
}
.category{
	width:180px;
	height:180px;
	float:left;
	margin-left:100px;
	cursor: pointer;
}
.category img{
	width:180px;
	height:180px;
	border-radius: 50%;
}

.title{
	text-align: center;
	position:relative;
	bottom:0px;
}
.title a{
	text-decoration: none;
}

/*------- 중분류샵-------*/
.intro{
	width:1000px;
	height:150px;
	margin:0 auto;
	margin-top:50px;
	background-color:white;
}
.intro img{
	height:200px;
	width:250px;
}
.imgposition{
	height:200px;
	width:250px;
	position:absolute;
	bottom:0px;
	left:1000px;
}
.midcatContainer{
	background-color: #fff;
}
.midcatBorder{
	width: 95%;
	margin: 0 auto;
	background-color: #d8edf8;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-family: "넥슨고딕";
	font-weight: bold;
	margin-bottom: 100px;
}
.midcatBorder_Top{
	display: flex;
	justify-content: space-around;
	padding:13px;
	cursor:pointer;
}
.midcatBorder_Content{
	display: flex;
}
.midcatBorder_Left{
	display: flex;
	background-color: red;
	flex-direction: column;
	text-align: center;
	padding: 13px;
	width: 10%;
}
.midcatBorder_Left div{
	margin: 5px;
}
.midcatBorder_Right{
	display: flex;
	background-color: #ffd0d1;
	width: 90%;
	min-height: 500px;
}
ul{
	list-style-type: none;
}
.page{
	
}









